@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}

.row__container {
  display: flex;
  justify-content: space-between;
}

.btn {
  border: none;
  border-radius: 100vw;
  box-shadow: 0.0625em 0.0625em 0.75em 0.125em hsl(190, 24%, 90%);
  font-size: var(--body-fs);
  font-family: var(--open-sans);
  font-weight: 700;
  transition: cursor 0.25s, background-color 0.25s, color 0.25s;
}

.btn:hover {
  cursor: pointer;
}

.btn__white {
  background-color: var(--white);
  color: #000;
}

.btn__white:hover {
  color: var(--grayish-blue);
}

.btn__pink {
  background-color: var(--pink);
  color: var(--white);
}

.btn__pink:hover {
  background-color: hsla(322, 100%, 66%, 0.742);
}

/* Navbar */

#navbar,
#intro {
  background-color: hsl(191, 89%, 96%);
  background-image: url("../images/bg-hero-desktop.svg");
  background-repeat: repeat;
  background-position: top left;
  background-attachment: fixed;
  background-size: cover;
}

#navbar {
  display: flex;
  justify-content: space-between;
  padding: 3.75em 5em 3.75em 5em;
}

.btn__nav {
  width: 13.125em;
  height: 3.125em;
}

/* Intro Section */

#intro {
  padding: 0 5em 6em 5em;
}

.intro__container {
  padding-top: 5em;
}

.mockup {
  width: 42.5em;
  height: 30em;
}

.intro__heading {
  font-family: var(--poppins);
  font-size: 2.5em;
  width: 11em;
  margin-bottom: 0.8em;
}

.intro__description {
  font-family: var(--open-sans);
  font-size: var(--body-fs);
  width: 32.5em;
  margin-bottom: 1.875em;
}

.btn__intro {
  width: 17.5em;
  height: 3.4375em;
}

/* Features Section */

#features {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10em;
  padding-bottom: 21.875em;
}

.features__container {
  display: flex;
  flex-direction: column;
}

.features__container > * {
  margin-bottom: 2.5em;
}

.features__container > *:last-child {
  margin-bottom: 0;
}

.feature {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75em;
  height: 31.25em;
  box-shadow: 0 0 0.3125em 0.3125em hsl(0, 0%, 97%);
  border-radius: 1.25em;
}

.feature:nth-of-type(even) {
  flex-direction: row-reverse;
}

.feature__info {
  margin-top: 1.25em;
  margin-right: 6.25em;
}

.feature__title {
  font-family: var(--poppins);
  font-size: 1.875em;
  margin-bottom: 0.5em;
}

.feature:nth-of-type(even) .feature__info {
  margin-right: 0;
  margin-left: 6.25em;
}

.feature__description {
  color: var(--grayish-blue);
  font-family: var(--open-sans);
  font-size: var(--body-fs);
  line-height: 1.5;
  width: 29em;
}

.feature__illustration {
  width: 28.125em;
  height: 20.3125em;
}

/* Call-to-action Section */

#cta {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50em;
  height: 17.5em;
  margin: 0 auto;
}

.cta__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1.25em;
  box-shadow: 0 0 0.3125em 0.3125em hsl(0, 0%, 97%);
  width: 50em;
  height: 17.5em;
}

.cta__message {
  font-family: var(--poppins);
  font-size: 1.875em;
  margin-bottom: 1.5em;
}

.btn__cta {
  width: 25em;
  height: 5em;
}

:root {
  /* Primary Colors */
  --pink: hsl(322, 100%, 66%);

  /* Neutral Colors */
  --very-pale-cyan: hsl(193, 100%, 96%);
  --very-dark-cyan: hsl(192, 100%, 9%);
  --grayish-blue: hsl(208, 11%, 55%);
  --white: hsl(0, 0%, 100%);

  /* Fonts & Sizes */
  --poppins: "Poppins", sans-serif;
  --open-sans: "Open Sans", sans-serif;
  --body-fs: 1.125em;
}
